In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('MagicBricks.csv',encoding="ISO-8859-1")
df.head()

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0

In [3]:
df.isnull().sum()

Area             0
BHK              0
Bathroom         2
Furnishing       5
Locality         0
Parking         33
Price            0
Status           0
Transaction      0
Type             5
Per_Sqft       241
dtype: int64

In [4]:
df.shape

(1259, 11)

In [5]:
df = df.drop(columns=["Furnishing","Status","Transaction","Type","Per_Sqft"])
df.sample(5)

,Area,BHK,Bathroom,Locality,Parking,Price
210,750.00,2,2.0,"J R Designers Floors, Rohini Sector 24",1.0,5000000
941,1076.39,3,2.0,"Dilshad Colony, Dilshad Garden",10.0,9300000
869,378.00,1,2.0,Narela Sector A1 carpet area 42 sqyrd status R...,2.0,1500000
1043,535.00,2,1.0,"Dev Nagar, Karol Bagh",1.0,3900000
1188,900.00,3,3.0,"Govindpuri Extension, Kalkaji",1.0,6800000

In [6]:
df.describe()

               Area          BHK     Bathroom      Parking         Price
count   1259.000000  1259.000000  1257.000000  1226.000000  1.259000e+03
mean    1466.452724     2.796664     2.556086     1.935563  2.130670e+07
std     1568.055040     0.954425     1.042220     6.279212  2.560115e+07
min       28.000000     1.000000     1.000000     1.000000  1.000000e+06
25%      800.000000     2.000000     2.000000     1.000000  5.700000e+06
50%     1200.000000     3.000000     2.000000     1.000000  1.420000e+07
75%     1700.000000     3.000000     3.000000     2.000000  2.550000e+07
max    24300.000000    10.000000     7.000000   114.000000  2.400000e+08

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Area      1259 non-null   float64
 1   BHK       1259 non-null   int64
 2   Bathroom  1257 non-null   float64
 3   Locality  1259 non-null   object
 4   Parking   1226 non-null   float64
 5   Price     1259 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 59.1+ KB

In [8]:
df[df['Bathroom'].isnull()]

       Area  BHK  Bathroom        Locality  Parking     Price
30   1500.0    1       NaN  Lajpat Nagar 2      NaN  13500000
120  1500.0    1       NaN  Lajpat Nagar 2      NaN  13500000

In [9]:
df['Bathroom']=df['Bathroom'].fillna(0)

In [10]:
df['Parking']=df['Parking'].fillna(0)

In [11]:
df['Per_sqrt'] = (np.round(df['Price']/df['Area'],2))

In [12]:
df.head()

,Area,BHK,Bathroom,Locality,Parking,Price,Per_sqrt
0,800.0,3,2.0,Rohini Sector 25,1.0,6500000,8125.00
1,750.0,2,2.0,"J R Designers Floors, Rohini Sector 24",1.0,5000000,6666.67
2,950.0,2,2.0,"Citizen Apartment, Rohini Sector 13",1.0,15500000,16315.79
3,600.0,2,2.0,Rohini Sector 24,1.0,4200000,7000.00
4,650.0,2,2.0,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,9538.46

In [13]:
df.isnull().sum()

Area        0
BHK         0
Bathroom    0
Locality    0
Parking     0
Price       0
Per_sqrt    0
dtype: int64

In [14]:
df.describe()

,Area,BHK,Bathroom,Parking,Price,Per_sqrt
count,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03,1259.000000
mean,1466.452724,2.796664,2.552025,1.884829,2.130670e+07,14582.160905
std,1568.055040,0.954425,1.046359,6.204023,2.560115e+07,20420.174531
min,28.000000,1.000000,0.000000,0.000000,1.000000e+06,204.080000
25%,800.000000,2.000000,2.000000,1.000000,5.700000e+06,6757.355000
50%,1200.000000,3.000000,2.000000,1.000000,1.420000e+07,11666.670000
75%,1700.000000,3.000000,3.000000,2.000000,2.550000e+07,17549.710000
max,24300.000000,10.000000,7.000000,114.000000,2.400000e+08,538461.540000

In [15]:
df['Price'] = df['Price']/100000

In [16]:
df.describe()

,Area,BHK,Bathroom,Parking,Price,Per_sqrt
count,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000
mean,1466.452724,2.796664,2.552025,1.884829,213.067037,14582.160905
std,1568.055040,0.954425,1.046359,6.204023,256.011545,20420.174531
min,28.000000,1.000000,0.000000,0.000000,10.000000,204.080000
25%,800.000000,2.000000,2.000000,1.000000,57.000000,6757.355000
50%,1200.000000,3.000000,2.000000,1.000000,142.000000,11666.670000
75%,1700.000000,3.000000,3.000000,2.000000,255.000000,17549.710000
max,24300.000000,10.000000,7.000000,114.000000,2400.000000,538461.540000

In [17]:
df = df.drop(columns=["Per_sqrt","Parking"])
df.sample(5)

,Area,BHK,Bathroom,Locality,Price
1083,585.0,2,2.0,"Savitri Nagar Village, Sheikh Sarai",40.0
622,850.0,3,3.0,Paschim Vihar carpet area 850 sqft status Read...,57.0
970,1100.0,2,2.0,Vasundhara Enclave,100.0
701,1400.0,3,3.0,"Narmada Apartment, Alaknanda carpet area 1400 ...",180.0
982,1200.0,3,2.0,"Mahesh Apartment, Vasundhara Enclave",125.0

In [18]:
y = df['Price']
x=df.drop(columns=['Price'],axis =1)

In [19]:
x.shape

(1259, 4)

In [20]:
y.shape

(1259,)

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [22]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 2)

In [23]:
from sklearn.linear_model import LinearRegression , Lasso, Ridge
x_train,y_train = df.drop(columns=['Price'],axis =1),df['Price']
reg = LinearRegression()

In [24]:
columns_trans = make_column_transformer((OneHotEncoder(sparse_output = False),['Locality']),remainder='passthrough')
scaler = StandardScaler()
pipe = make_pipeline(columns_trans,scaler,reg)

In [25]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['Locality'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [26]:
y_pred_lr = pipe.predict(x_test)

In [27]:
r2_score(y_test, y_pred_lr)

0.8933308185520037

In [28]:
las = Lasso()
pipe_las = make_pipeline(columns_trans,scaler,las)

In [29]:
pipe_las.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['Locality'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [30]:
y_pred_las = pipe_las.predict(x_test)
r2_score(y_test, y_pred_las)

0.8896010834252944

In [31]:
rid = Ridge()
pipe_rid = make_pipeline(columns_trans,scaler,rid)
pipe_rid.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['Locality'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [32]:
y_pred_rid = pipe_rid.predict(x_test)
r2_score(y_test, y_pred_rid)

0.8932872388527132

In [33]:
import pickle

In [34]:
pickle.dump(pipe, open('RidgeModel_delhi.pkl','wb'))

In [37]:
df.to_csv('final_result2.csv')
df

,Area,BHK,Bathroom,Locality,Price
0,800.0,3,2.0,Rohini Sector 25,65.0
1,750.0,2,2.0,"J R Designers Floors, Rohini Sector 24",50.0
2,950.0,2,2.0,"Citizen Apartment, Rohini Sector 13",155.0
3,600.0,2,2.0,Rohini Sector 24,42.0
4,650.0,2,2.0,Rohini Sector 24 carpet area 650 sqft status R...,62.0
...,...,...,...,...,...
1254,4118.0,4,5.0,Chittaranjan Park,550.0
1255,1050.0,3,2.0,Chittaranjan Park,125.0
1256,875.0,3,3.0,Chittaranjan Park,175.0
1257,990.0,2,2.0,Chittaranjan Park Block A,115.0
1258,11050.0,3,3.0,Chittaranjan Park,185.0

In [41]:
input_ans = pd.DataFrame([['Chittaranjan Park', 4, 5.0, 4118.0]], columns=['Locality', 'BHK', 'Bathroom', 'Area'])
# prediction = pipe.predict(input_ans)[0]
# prediction
input_ans

            Locality  BHK  Bathroom    Area
0  Chittaranjan Park    4       5.0  4118.0

,Area,BHK,Bathroom,Price,"Locality_APL Builder Floor, Greater Kailash 1","Locality_Aashirwaad Chowk, Dwarka","Locality_Abhimanyu Apartments, Vasundhara Enclave","Locality_Abul Fazal Enclave Part 1, Okhla","Locality_Abul Fazal Enclave Part-II, Okhla","Locality_Adarsh Homes, Dwarka Mor",...,"Locality_Vijay Enclave, Mahavir Enclave","Locality_Vijay Vihar, Rohini","Locality_Vikram Vihar, Lajpat Nagar","Locality_Vinoba Puri, Lajpat Nagar","Locality_Virat Residency, Dwarka Mor","Locality_Vishwas Nagar, Shahdara","Locality_Yamuna Apartment, Alaknanda","Locality_Yamuna Vihar, Shahdara","Locality_Zakir Nagar, New Friends Colony","Locality_mind. The space is airy, is well located and can be easily customized as per the needs. Prime facilities are easily accessible from this place with Government Girls Senior Secondary School No 2 (0 km ). Other key neighbourhood are B Block Market (0 km ). read more Contact Owner View Phone No. Share Feedback Owner vinod kumar"
0,800.0000,3,2.0,65.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,750.0000,2,2.0,50.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,950.0000,2,2.0,155.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,600.0000,2,2.0,42.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,650.0000,2,2.0,62.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1300.0000,4,3.0,155.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1350.0000,4,3.0,100.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,650.0000,2,2.0,40.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,985.0000,3,3.0,68.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1300.0000,4,4.0,150.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1100.0000,3,2.0,62.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,870.0000,3,2.0,77.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,630.0000,2,2.0,55.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,660.0000,2,2.0,50.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,344.4448,2,2.0,33.1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,660.0000,2,2.0,47.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,550.0000,2,2.0,45.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,1100.0000,4,3.0,170.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1150.0000,3,3.0,250.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,650.0000,2,2.0,60.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0